body{
    margin: 0px;
    font-family: 'Poppins';
    background-color: #EBF2D5;
    color: #942D2D;
}
.im-re{
    width: 23px;
    height: 30px;
}
.cat{
    color: #942D2D;
    margin: 0px;
    font-family: 'Darker Grotesque';
    font-size: 15px;
    font-weight: 300;
}
.wrp-re{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
    padding-top: 5px;
}
#te-re{
    font-family: 'Darker Grotesque';
    font-size: 20px;
    font-weight: 600;
}
#te-re1{
    font-family: 'Darker Grotesque';
    font-size: 20px;
    font-weight: 600;
    margin-left: 20px;
}
.p-re{
    font-family: 'Darker Grotesque';
    font-weight: 100;
    margin: 0px;
}
.de-re{
    margin: 0px;
    font-family: 'Darker Grotesque';
    font-size: 23px;
    font-weight: 100;
}
.rev-list{
    overflow-y: scroll;
    height: 530px;
    margin-bottom: 50px;
}
.ti-re{
    font-family: 'David Libre';
    margin: 60px 0px 50px 60px;
}
.da-re{
    display: flex;
    justify-content: end;
    font-family: 'Darker Grotesque';
    font-weight: 100;
    margin: 0px 50px 0px 0px;
}
.card-re{
    margin: 25px 0px 0px 60px;
    width: 80%;
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #942D2D;
    padding-left: 50px;
}
.wrp-re2{
    width: 100vw;
}